<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".adminlogin"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAe6cXE3WiqUIOyHc7nXhTpUHH7AMZu6jM" />

        <activity
            android:name=".ui.feestatus.trbus"
            android:exported="false"
            android:label="@string/title_activity_trbus" /> <!-- This element is required to enable Google Pay in your app. -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".Bus12Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus11Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ADlogin"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".Bus10Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus9Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus8Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus7Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus6Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DriverLogin"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Choseaccount"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Pdfshow"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Stnotification"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <activity
            android:name=".studentAdmindashboard"
            android:exported="false"
            android:parentActivityName=".BottomNavigation"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TotalDrivers"
            android:exported="false"
            android:parentActivityName=".BottomNavigation"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus5Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus4Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus3Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus2Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Bus1Details"
            android:exported="false"
            android:parentActivityName=".AdminAllBuses"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminAllBuses"
            android:exported="false"
            android:parentActivityName=".BottomNavigation"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BottomNavigation"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TotalStudentDriver"
            android:exported="false"
            android:parentActivityName=".DriverInterface"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DriverInterface"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Busstop"
            android:exported="false"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Scanner"
            android:exported="false"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Help"
            android:exported="false"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/Theme.AppCompat">
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Changepickuppoint"
            android:exported="false"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/Theme.AppCompat">
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Changemobileno"
            android:exported="false"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ChangeUsername"
            android:exported="false"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Busfee"
            android:exported="false"
            android:parentActivityName=".Main2Activity"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.AppCompat">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".Loginpage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Registerpage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>